@import '../../app/globals.scss';

.succesToast {
  display: flex;
  align-items: center;
  gap: 8px;
}

.markedName {
  color: $primary-color;
  font-size: 16px;
  line-height: normal;
}

.existance {
  display: flex;
  align-items: center;
  gap: 8px;
}
